:root {
  --color-link: #3f65e3;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ul-defaults-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  background: transparent;
}
