.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 1rem;
  margin-right: 0.8rem;
  text-transform: uppercase;
}

.navbar ul li:hover,
.navbar ul li.active {
  color: var(--color-link);
}

.navbar ul li:hover {
  cursor: pointer;
}
